@media screen and (min-width: 1000px) {
  body {
    background-color: white;
    padding: 0;
    margin: 0;
  }
  body .header-section {
    max-width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2vw;
    padding-top: 2.5vw;
    padding-left: 6vw;
    margin-bottom: 3.5vw;
  }
  body .kiakia-logo {
    width: 12vw;
  }
  body .kiakia-logo img {
    width: 15vw;
  }
  body .preview-links {
    display: flex;
    flex-direction: row;
    gap: 3vw;
  }
  body .preview-links a {
    color: #616161;
    font-size: 16px;
    font-weight: 600;
    font-family: "Mulish", sans-serif;
    text-decoration: none;
    align-self: center;
  }
  body .waitlist-frame button {
    width: 10vw;
    padding: 0.5vw;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 700;
    font-family: "Mulish", sans-serif;
    border: none;
    color: white;
    background-image: linear-gradient(#04F2F2, #00BAFF);
  }
  body .container-1 {
    display: grid;
    grid-template-columns: auto auto;
    max-width: 100%;
    justify-content: center;
    gap: 4vw;
  }
  body .container-1 .container-1-text {
    display: flex;
    flex-direction: column;
  }
  body .container-1 .container-1-text h2 {
    font-size: 64px;
    font-weight: 700;
    font-family: "Mulish", sans-serif;
    width: 25vw;
    color: black;
    margin-bottom: 1vw;
  }
  body .container-1 .container-1-text h2 span {
    font-size: 64px;
    font-weight: 700;
    font-family: "Mulish", sans-serif;
    color: #04F2F2;
  }
  body .container-1 .container-1-text p {
    font-size: 18px;
    font-weight: 400;
    font-family: "Mulish", sans-serif;
    width: 30vw;
    color: black;
  }
  body .container-1 .container-1-text form {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 1vw;
  }
  body .container-1 .container-1-text form input {
    width: 22vw;
    border: 2px solid grey;
    border-radius: 8px;
    padding: 1vw;
    font-size: 18px;
    font-weight: 400;
    font-family: "Mulish", sans-serif;
    color: black;
  }
  body .container-1 .container-1-text form input:focus {
    outline: 1px solid grey;
  }
  body .container-1 .container-1-text form button {
    background-image: linear-gradient(#04F2F2, #00BAFF);
    width: 10vw;
    padding: 0.5vw;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 700;
    font-family: "Mulish", sans-serif;
    border: none;
    color: white;
  }
  body .container-1 .container-1-text form button:focus {
    outline: none;
  }
  body .container-1 .container-1-text h5 {
    font-size: 17px;
    font-weight: 400;
    font-family: "Mulish", sans-serif;
    width: 35vw;
    color: black;
    margin-bottom: 1vw;
  }
  body .container-1 .container-1-text h6 {
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-size: 17px;
    font-weight: 400;
    font-family: "Mulish", sans-serif;
    width: 35vw;
    color: black;
  }
  body .container-1 .container-1-text h6 img {
    width: 1.5vw;
  }
  body .container-1 .container-1-text h6 span {
    font-size: 17px;
    font-weight: 400;
    font-family: "Mulish", sans-serif;
    color: #00BAFF;
  }
  body .container-1 .container-1-img {
    padding-top: 3vw;
  }
  body .container-1 .container-1-img img {
    width: 45vw;
  }
  body .container-1 .container-1-number {
    display: grid;
    grid-template-columns: auto;
    margin-top: -17vw;
  }
  body .container-1 .container-1-number h1 {
    font-size: 96px;
    font-weight: 600;
    font-family: "Mulish", sans-serif;
    color: black;
    margin-bottom: -1vw;
  }
  body .container-1 .container-1-number p {
    font-size: 24px;
    font-weight: 600;
    font-family: "Mulish", sans-serif;
    color: black;
  }
  body .container-1 .container-1-number span {
    font-size: 24px;
    font-weight: 600;
    font-family: "Mulish", sans-serif;
    color: black;
    justify-self: right;
  }
  body .curly-arrow {
    display: grid;
    justify-content: center;
    max-width: 100%;
  }
  body .curly-arrow img {
    width: 5vw;
  }
  body .why-kiakia {
    display: grid;
    grid-template-columns: auto;
    max-width: 100%;
    justify-content: center;
    margin-top: 2vw;
  }
  body .why-kiakia .why-kiakia-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
  }
  body .why-kiakia .why-kiakia-1 p {
    font-size: 20px;
    font-weight: 600;
    font-family: "Mulish", sans-serif;
    color: #616161;
  }
  body .why-kiakia .why-kiakia-1 h2 {
    font-size: 40px;
    font-weight: 700;
    font-family: "Mulish", sans-serif;
    color: black;
  }
  body .why-kiakia .why-kiakia-2 {
    display: flex;
    flex-direction: row;
  }
  body .why-kiakia .why-kiakia-3 {
    display: grid;
    justify-content: center;
    max-width: 100%;
    margin-top: 2vw;
  }
  body .why-kiakia .why-kiakia-3 button {
    width: 25vw;
    padding: 1vw;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 700;
    font-family: "Mulish", sans-serif;
    border: none;
    color: white;
    background-image: linear-gradient(#04F2F2, #00BAFF);
  }
}/*# sourceMappingURL=kiakia-desktop.css.map */